// General Styles
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif; // @media @laptop {
    //   overflow-x: hidden;
    // }
    // @media @tablet {
    //   overflow-x: hidden;
    // }
    // @media @phone {
    //   overflow-x: hidden;
    // }
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 880px;
    margin: auto;
    display: flex;
    flex-flow: column; // ADD MEDIA QUERIES HERE LARGE TO SMALL MAX-WIDTH:
    @media @laptop {
        width: 90%;
    }

    @media @tablet {
        // WILL HAVE THE MOST STYLE ADJUSTMENTS
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        .main-header ul {
            display: flex;
            padding-left: 30px;
        } // .main-header .logo {
        //     align-self: flex-start;
        //     margin: 28px 0 0 21px;
        // }
        .cta {
          align-content: center;
        }
    }

    @media @phone {
        width: 50%;
        display: block;
        margin: auto;
        .main-content .text-content {
          padding: 0;
        }
        .cta-img { width: 300px; }
        .main-header {
            display: flex;
            flex-direction: column;
            ul {
                display: inline-block;
                margin: 40px 0 0 40px;
            }
            li {
                // padding: 5px;
            }
        }
        .main-header .logo {
            display: inline;
        }
        .main-content .bottom-content {
            // display: inline;
            // flex-flow: wrap;
            flex-direction: column;
            flex: 1;
            p {
              // text-align: justify;
              width: 200px;
              padding-bottom: 20px;
            }
        }
        .main-content .top-content {
          display: flex;
          flex-direction: column;
          h4 {
            margin-top: 10px;
          }
          p {
            width: 200px;
            padding: 0;
            margin-bottom: 10px;
          }
        }
    }
}