/* Main Content Styles */

// media querie order matters
// max-width lg-small
// min-width small-lg

.main-content {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;

  .top-content {
    display: flex;
    justify-content: space-around;
  }

  .middle-img { // NEED TO ADJUST IMG WIDTH
    display: block;
    margin: 30px auto;
    // ADD MEDIA QUERIE FOR TABLET SIZE
  }

  .bottom-content {
    display: flex;
    justify-content: space-around;
    p {
      padding-right: 20px;
    }
  }
}
